/* Header */
header {
  background-color: #d9997e;
}
header h1 {
  height: 80px;
  line-height: 80px;
}

/* Main */
main {
  height: calc(100vh - 88px);
  background-color: #f0bb96;
}

#grid {
  height: 500px;
  width: 500px;
  border: 2px dotted black;
}

#grid .cell-1,
#grid .cell-2,
#grid .cell-3 {
  border: 1px solid black;
  cursor: pointer;
}

#grid .cell-1 {
  width: calc(100 / 10);
  height: calc(100 / 10);
}
#grid .cell-2 {
  width: calc(100 / 9);
  height: calc(100 / 9);
}
#grid .cell-3 {
  width: calc(100 / 7);
  height: calc(100 / 7);
}
